# EXAMPLE docker-compose .env file
SF_BASEDIR=${HOME}/segfault
# Source 
SF_SRCDIR=${HOME}/segfault
# SF_SRCDIR=${SF_BASEDIR}
#LENCFS_RAWDIR=/home/sf-user/segfault/encfs-raw
LENCFS_RAWDIR=${SF_BASEDIR}/encfs-raw
PORT=22
#SF_DEBUG=1
#LENCFS_SECDIR=/dev/shm/encfs-sec
#LUSER=root
#LUSERPASSWORD=segfault
#SF_FQDN=CHANGEME.segfault-net
#LDNS=172.24.0.2
