# EXAMPLE docker-compose .env file
SF_BASEDIR=${HOME}/segfault
SF_DATADIR=${HOME}/segfault/data
SF_RUNDIR=
#SF_ENCFS_SECDIR=/dev/shm/encfs-sec
#SF_SSH_PORT=22
#SF_DEBUG=1
#SF_USER=root
## Generate SF_ENCFS_PASS with
##   head -c 1024 /dev/urandom | tr -dc '[:alpha:]' | head -c 32 
## or place it into config/etc/encfs/encfs.pass
#SF_ENCFS_PASS=AnyPasswordOfAnyLength
#SF_USER_PASSWORD=segfault
#SF_FQDN=CHANGEME.segfault-net
#SF_DNS=172.24.0.2
# Optain the private key by executing:
# docker run --rm --cap-add=NET_ADMIN -e USER=XXX -e PASS='YYY'  bubuntux/nordvpn bash -c 'nordvpn login --username $USER --password $PASS && nordvpn c && echo -e "Private Key: \033[1;33m$(wg show nordlynx private-key)\033[0m"'
SF_NORDVPN_PRIVATE_KEY=
