[Unit]
Description=Segfault Firewall Script
After=nordvpnd.service

[Service]
Environment="SF_BASEDIR=@SF_BASEDIR@"
ExecStart=@SF_BASEDIR@/system/sf-fw.sh up_persistent
ExecStop=@SF_BASEDIR@/system/sf-fw.sh down

[Install]
WantedBy=default.target

